<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/style.css}" rel="stylesheet"/>

</head>
<body>
    <div class="content">
        <h1 class="title">Matrix Plus Shape</h1>
        <p th:text="'Total of 1 : ' + ${countOne}"></p>
        <p th:text="'Total of 0 : ' + ${countZero}"></p>
        <div class="matrixContent">
            <table class="matrixTable">
                <tr th:each="i: ${array}" class="matrixRow">
                    <td th:each="item: ${i}" th:switch="${item}" class="matrixColumn">
                        <span th:case="'*'" th:text="${item}" class="star"></span>
                        <span th:case="*" th:text="${item}"></span>
                    </td>
                <tr>
            </table>

            <div class="answerContent">
                <p>Answers:</p>
                <tr th:each="answer: ${answers}">
                    <span th:text="${answer}"></span>
                <tr>
            </div>
        </div>
    </div>
</body>
</html>